.results {
    background-color: white;
    color: black;
    margin-bottom: 1.5rem
}
.productInfo {
    background: rgb(181, 184, 8);
    font-family: 'Open Sans Condensed', sans-serif;
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20pt
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-weight: bold
}
.shopButton {
    height: 5rem;
    background-color: black;
    color: white;
    font-size: 20pt
}