.jumbotron {
  background-image: url("/images/lala-v-a9-FEiY9eRw-unsplash.jpg");
  background-size: cover;
  height: 70vh;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%
}
.title {
  font-size: 80pt
}
.tagLine {
  font-size: 30pt
}
.login {
  background-color: black;
  margin: 20px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
.register {
  background-color: black;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
.container {
  width: 100%;
}