.jumbotron {
  background-image: url("/images/lala-v-a9-FEiY9eRw-unsplash.jpg");
  background-size: cover;
  height: 70vh;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%
}
.title {
  font-size: 80pt
}
.tagLine {
  font-size: 30pt
}
/* .tagLine2 {
  font-size: 20pt
} */
.login {
  background-color: black;
  margin: 20px;
}
.register {
  background-color: black
}
.container {
  width: 100%;
}