.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  float:left;
  width: 30%;
  height: 400px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  object-fit: cover;
}
.cardImage {
  object-fit: cover;
}
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: rgb(181, 184, 8);
  object-fit: cover;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}
.card-title {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black
}
.card-text {
  text-align: center;
  font-size: 15pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}
