#search {
    width: 400px;
    background-color: rgb(172, 178, 231);
    color: black;
    padding-left: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
};
::placeholder {
    padding-left: 5px;
    color: gray;
    opacity: 1; /* Firefox */
  }
.searchWrapper {
    margin: 0 auto;
    width: 400px;
    align-content: center;
    /* height: 100px; */
    /* background-color: pink; */
}
nav {
    width: 400px;
}
.nav-wrapper {
    margin:0;
    width: 500px;
}
.submit {
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    align-self: center;
    margin-left: 11rem;
}