#search {
    width: 400px;
    background-color: pink;
    color: black;
    padding-left: 5px;
    
};
::placeholder {
    padding-left: 5px;
    color: gray;
    opacity: 1; /* Firefox */
  }
.searchWrapper {
    margin: 0 auto;
    width: 400px;
    /* height: 100px; */
    background-color: pink;
}
nav {
    width: 400px;
}
.nav-wrapper {
    margin:0;
    width: 500px;
}
.search {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}